.footer{
    background-color: rgb(44, 44, 66);
    padding: 4rem;
    color: antiquewhite;
    text-align: center;
}

#formdiv {
    text-align: left;
}

@media only screen and (max-width: 576px) {
    header
    {
        font-size: 0.8rem;
        background-color: rgb(127, 127, 153);
        color: white;
        background-image: url("/resume-11/images/jeremy.jpg");
        
    }
    .carousel {
        width: 100%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding: 1rem;
      }
}



@media only screen and (min-width: 576px) {
    header
    {
        font-size: 0.8rem;
        background-color: white;
        color: white;
        background-image: url("/resume-11/images/jeremy.jpg");
      
    }
    .carousel {
        width: 100%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding: 1rem;
      }

}

@media only screen and (min-width: 768px) {
    header
    {
        height: 120%;
        font-size: 1rem;
        background-color: white;
        color: white;
        background-image:url("/resume-11/images/jeremy.jpg"); 
    }
    .carousel {
        width: 60%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding: 1rem;
      }
    
   
}

@media only screen and (min-width: 1600px) {
    header
    {
        height: 120%;
        font-size: 1rem;
        background-color: white;
        color: white;
        background-image: url("/resume-11/images/jeremy.jpg");
     }
    .carousel {
        width: 50%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding: 1rem;
      }
    
}

#image{
    width: 30%;
    margin: 1rem;
}

#exampleModal
{
    color: black;
}
.container
{
    padding: 1rem;
}
#contactText{
    padding-bottom: 1%;
  }
  
 .socials
 {
     padding: 1%;
 }

 @keyframes socialanimation {
    0% {
        filter: grayscale(110%);
    }

    75% {
        filter: hue-rotate(90deg);
    }

    100% {
        filter: sepia(100%);
    }
 }
 .socials:hover{
     animation-name: socialanimation;
     animation-duration: 3s;
     animation-iteration-count: infinite;
 }
